$colors:(
	black: #000,
	white: #fff,
	pink: #D92353,
	red: #A62145,
	dark-blue: #072540,
	aqua: #3873A6,
	light-blue: #9BE2F2
);

@each $color-name, $color in $colors{
	.#{$color-name}{
		background-color: $color;
	}

	.#{$color-name}-text{
		color: $color;
	}
}

/*


			%p Busca a tu médico cerca de ti
.
			%p Reserva tu cita indicando fecha y hora en la que quieres ser atendido

			%p Ve a la consulta y recibe en la aplicacion el diagnostico y tratamiento que te dejo tu medico

			%p Recibe notificaciones que te recuerden la hora de tomar tus medicamentos, examenes que te debes realizar, proximas citas, etc.
*/
