@charset "UTF-8";
.black {
  background-color: #000;
}

.black-text {
  color: #000;
}

.white {
  background-color: #fff;
}

.white-text {
  color: #fff;
}

.pink {
  background-color: #D92353;
}

.pink-text {
  color: #D92353;
}

.red {
  background-color: #A62145;
}

.red-text {
  color: #A62145;
}

.dark-blue {
  background-color: #072540;
}

.dark-blue-text {
  color: #072540;
}

.aqua {
  background-color: #3873A6;
}

.aqua-text {
  color: #3873A6;
}

.light-blue {
  background-color: #9BE2F2;
}

.light-blue-text {
  color: #9BE2F2;
}

/*


			%p Busca a tu médico cerca de ti
.
			%p Reserva tu cita indicando fecha y hora en la que quieres ser atendido

			%p Ve a la consulta y recibe en la aplicacion el diagnostico y tratamiento que te dejo tu medico

			%p Recibe notificaciones que te recuerden la hora de tomar tus medicamentos, examenes que te debes realizar, proximas citas, etc.
*/
