!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La plataforma que conecta medicos y pacientes
		%meta{name:"description", content:"por si alguien nos busca"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/colors.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Pacifico&display=swap", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.row.full-height.center-xs.middle-xs.aqua.white-text
			.col-xs-12
				.box
					#logo
						%img.logo-image#logo-image(src="./imgs/logo.png")
						%h1.logo-font.title#logo-text DoctorsCo
					.row.top-space.medium.center-xs#welcome-text
						.col-xs-12.col-sm-6
							.box
								%section.section.section-3
									%p.text-wrapper
									%span Conecta médicos y
									%span pacientes con la información
									%span para una mejor experiencia e
									%span innovación en las
									%span consultas médicas.
		.image-container
			%img{src:"./imgs/portada.png"}
		.row.full-height.center-xs.middle-xs.relative.font-big
			.col-xs-12.col-sm-7
				.box
					#textoBuscar
						%h1.black-text Busca un médico cerca de ti
			.col-xs-12.col-sm-4.white-text
				.box
					%a.white-text.button-text.big-padding.dark-blue#button{:href => "www.waze.com"} Buscar ahora
		.row.full-height.light-blue.white-text.center-xs
			.col-xs-12
				.box
					%h1.logo-font.top-space DoctorsCo para pacientes
					.row.top-space.center-xs.middle-xs.medium
						.col-xs-4
							.box
								.numbers.white-text.numero1
									.circle
										%p 1
						.col-xs-1
						.col-xs-6
							.box
								%p Busca a tu médico cerca de ti
					.row.top-space.center-xs.middle-xs.medium
						.col-xs-4
							.box
								.numbers.white-text#numero2
									.circle
										%p 2
						.col-xs-1
						.col-xs-6
							.box
								%p Reserva tu cita indicando fecha y hora en la que quieres ser atendido
					.row.top-space.center-xs.middle-xs.medium
						.col-xs-4
							.box
								.numbers.white-text#numero3
									.circle
										%p 3
						.col-xs-1
						.col-xs-6
							.box
								%p Ve a la consulta y recibe en la aplicacion el diagnostico y tratamiento que te dejo tu medico | Recibe notificaciones que te recuerden la hora de tomar tus medicamentos, examenes que te debes realizar, proximas citas, etc.

		%script{src:"https://code.jquery.com/jquery-3.4.1.min.js",
  				integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
  				crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.3.1.min.js'><\/script>")
		%script{src:"./js/main.js"}
		%script{src:"./js/jquery.boxloader.min.js"}
