!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La plataforma que conecta medicos y pacientes
		%meta{name:"description", content:"DoctorsCo es la plataforma que conecta medicos y pacientes con la informacion"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/colors.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Pacifico&display=swap", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.row.full-height.center-xs.middle-xs.aqua.white-text
			.col-xs-12
				.box
					#logo
						%img.logo-image#logo-image(src="./imgs/logo.png")
						%h1.logo-font.title#logo-text DoctorsCo
					.row.top-space.medium.center-xs#welcome-text
						.col-xs-12.col-sm-6
							.box
								%section.section.section-3
									%p.text-wrapper
									%span Conecta médicos y
									%span pacientes con la información
									%span para una mejor experiencia e
									%span innovación en las
									%span consultas médicas.
		.image-container
			%img{src:"./imgs/portada.png"}
		.row.full-height.center-xs.middle-xs.relative.font-big
			.col-xs-12.col-sm-7.top-space
				.box
					#textoBuscar
						%h1.black-text Busca un médico cerca de ti
			.col-xs-12.col-sm-4.white-text
				.box
					%a.white-text.button-text.big-padding.dark-blue#button{:href => "www.waze.com"} Buscar ahora
		.row.full-height.light-blue.white-text.center-xs
			.col-xs-12
				.box
					%h1.logo-font.top-space.subtitle DoctorsCo para pacientes
					.row.top-space.center-xs
						.col-xs-12
							.box
								.row
									.col-xs-4
										.box
											numero
									.col-xs-8
										.box
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									.row.top-space.center-xs
										.col-xs-4
											.box
												numero
										.col-xs-8
											.box
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			.row.dark-blue.full-height.white-text.center-xs
		.row.dark-blue.full-height.white-text.center-xs
			.col-xs-12.top-space
				.box
					%h1.logo-font.top-space.subtitle Beneficios de DoctorsCo para médicos
		.row.red
			.col-xs-12
				.box
					%h1 Links de descarga
		.row.black.white-text.center-xs
			.col-xs-12.top-space
				.box
					%p Footer



		%script{src:"https://code.jquery.com/jquery-3.4.1.min.js",
  				integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
  				crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.3.1.min.js'><\/script>")
		%script{src:"./js/main.js"}
		%script{src:"./js/jquery.boxloader.min.js"}
