!!!5
%html{class:"no-js", lang:"es"}
	%head 
		%meta{charset:"utf-8"}
		%title La plataforma que conecta medicos y pacientes
		%meta{name:"description", content:"por si alguien nos busca"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay:true,loop:true,width:"1280",height:"720",poster:"videos/images/love-coding.jpg"}
				%source{src:"videos/mp4/love-coding.mp4", typ:"video/mp4"}
				%source{src:"videos/webm/love-coding.webm", typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up
			.col-xs-12
				.box.white-text
					%img{src:"/imgs/logo.png", width:200}
					%h1.white-text.title.no-margin Loading
					%p Grandes ideas, grandes proyectos
			%nav.fixed.top.right.white-text.navigation#navigation
				-menu=["Inicio","Nosotros","Proyectos","Contacto"]
				%ul.list-inline
					-menu.each do |item|
						%li.list-inline-item
							%a(href="#")=item
			.absolute.black.large-padding.white-text.bottom.full-width#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						Ideas creadas por artistas del codigo
					.col-xs.hidden
						.box
							%nav.text-right.navigation
								%ul.list-inline
									-menu.each do |item|
										%li.list-inline-item
											%a(href="#")=item
		.full-height
		%script{src:"https://code.jquery.com/jquery-3.3.1.min.js",integrity:"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src="/js/vendor/jquery-3.3.1.min.js"></script>")
					
