!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title DoctorsCo - La plataforma que conecta medicos y pacientes con la información
		%meta{name:"description", content:"Plataforma que conecta medicos y pacientes, en la que los medicos puedan llevar sus horarios de citas y guardar sus consultas y examenes de forma digital, para los pacientes una plataforma en la que puedan reservar citas con los medicos, buscar especialistas que se ajusten a su presupuesto y que reciban la informacion del diagnostico y tratamiento."}
		%link{rel:"icon", type:"image/png", href:"imgs/favicon.png"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/colors.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap", rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/css?family=Pacifico&display=swap", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.row.full-height.center-xs.middle-xs.aqua.white-text
			.col-xs-12
				.box
					#logo
						%img.logo-image#logo-image(src="./imgs/logo.png")
						%h1.logo-font.title#logo-text DoctorsCo
					.row.top-space.medium.center-xs#welcome-text
						.col-xs-12.col-sm-6
							.box
								%section.section.section-3
									%p.text-wrapper
									%span Conecta médicos y
									%span pacientes con la información
									%span para una mejor experiencia e
									%span innovación en las
									%span consultas médicas.
			%nav.fixed.top.right.white-text.navigation#navigation
				-menu=["Iniciar Sesion"]
				%ul.list-inline
					-menu.each do |item|
						%li.list-inline-item
							%a(href="https://doctorsco-ee4c3.web.app/")=item
		.image-container
			%img{src:"./imgs/portada.png"}
		.row.full-height.center-xs.middle-xs.relative.font-big
			.col-xs-12.col-md-7.top-space
				.box
					#textoBuscar
						%h1.black-text Busca un médico cerca de ti
			.col-xs-12.col-md-4.white-text
				.box
					%a.white-text.button-text.big-padding.dark-blue#button{:href => "www.waze.com"} Buscar ahora
		.row.light-blue.white-text.center-xs#pacientes
			.col-xs-12
				.box
					%h1.logo-font.top-space.subtitle DoctorsCo para pacientes
					.row.center-xs.margin-top.white-text.middle-xs
						.col-xs-12
							.box
								.row.top-space.medium#Item1
									.col-xs-4.text-right
										.box
											.image-icon
												%img{src:"./imgs/buscador.png"}
									.col-xs-7.text-justify
										.box
											%p.text-justify Busca un médico cerca de ti.
									.col-xs-1
										.box
								.row.top-space.medium#Item2
									.col-xs-4.text-right
										.box
											.image-icon
												%img{src:"./imgs/calendario.png"}
									.col-xs-7.text-justify
										.box
											%p Reserva tu cita indicando fecha y hora en la que quieres ser atendido.
									.col-xs-1
										.box
								.row.top-space.medium#Item3
									.col-xs-4.text-right
										.box
											.image-icon
												%img{src:"./imgs/celular.png"}
									.col-xs-7.text-justify
										.box
											%p Ve a la consulta y recibe en la aplicación el diagnóstico y tratamiento que te dejo tu médico.
									.col-xs-1
										.box
								.row.top-space.medium#Item4
									.col-xs-4.text-right
										.box
											.image-icon
												%img{src:"./imgs/notificacion.png"}
									.col-xs-7.text-justify
										.box
											%p Recibe notificaciones que te recuerden la hora de tomar tus medicamentos, exámenes que te debes realizar, próximas citas y mucho más.
									.col-xs-1
										.box
								.row.top-space.medium#Item5
									.col-xs-4.text-right
										.box
											.image-icon
												%img{src:"./imgs/logo-icon.png"}
									.col-xs-7.text-justify
										.box
											%p.logo-font Cuida de tu salud con DoctorsCo.
									.col-xs-1
										.box
			.row.dark-blue.full-height.white-text.center-xs
		.row.dark-blue.white-text.center-xs
			.col-xs-12.top-space
				.box
					%h1.logo-font.top-space.subtitle Beneficios de DoctorsCo para médicos
					.row.center-xs.margin-top.white-text.middle-xs.big-padding
						.col-xs-12
							.box
								.row.top-space.medium#Item1
									.col-sm-4.text-right
										.box
											.image-doctor
												%img{src:"./imgs/consultas.jpg"}
									.col-sm-7.text-left
										.box
											%p.text-left Acceso al historial clinico de sus pacientes a cualquier momento desde cualquier lugar
									.col-sm-1
										.box
								.row.top-space.medium#Item1
									.col-sm-7
										.box
											%p.text-right Sus citas organizadas por fecha y hora, con recordatorio tanto para el medico como para el paciente.
									.col-sm-4.text-left
										.box
											.image-doctor
												%img{src:"./imgs/vitales.jpg"}
									.col-sm-1
										.box
								.row.top-space.medium#Item1
									.col-sm-4.text-right
										.box
											.image-doctor
												%img{src:"./imgs/medicos.jpg"}
									.col-sm-7.text-left
										.box
											%p.text-left Conexion con sus pacientes para ofrecerles un extra en sus servicios medicos y fedelizar aun mas a sus pacientes.
									.col-sm-1
										.box
		.row.red.hidden
			.col-xs-12
				.box
					%h1 Links de descarga
					responsive
		.row.red.hidden
			.col-xs-12
				.box
					%h1 Slider de imagenes
		.row.black.white-text.center-xs.middle-xs
			.col-xs-12.col-sm-6
				.box.large-padding
					%a.white-text.medium{:href => "https://www.facebook.com/doctorsCo/", target:"_blank"}
						%i.fa.fa-facebook-official
					%a.white-text.medium{:href => "https://www.instagram.com/doctors_co/", target:"_blank"}
						%i.fa.fa-instagram
					%a.white-text.medium{:href => "https://www.linkedin.com/company/doctorsco", target:"_blank"}
						%i.fa.fa-linkedin
			.col-xs.col-sm-5
				.box
					%p.white-text.logo-font.medium.no-margin DoctorsCo®️




		%script{src:"https://code.jquery.com/jquery-3.4.1.min.js",
  				integrity:"sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
  				crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.3.1.min.js'><\/script>")
		%script{src:"./js/main.js"}
		%script{src:"./js/jquery.boxloader.min.js"}
