!!!5
%html{class:"no-js", lang:"es"}
	%head 
		%meta{charset:"utf-8"}
		%title La plataforma que conecta medicos y pacientes
		%meta{name:"description", content:"por si alguien nos busca"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/flexboxgrid.css"}
		%link{rel:"stylesheet", href:"css/colors.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Pacifico&display=swap", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width,initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			por favor
			%a{href:"http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.row.full-height.center-xs.middle-xs.aqua.white-text
			.col-xs-12
				.box
					%h1.logo-font.title DoctorsCo
					.top-space
						%p La plataforma que conecta medicos y pacientes
		.row.full-height.center-xs.middle-xs.pink.white-text
			.col-xs-12
				.box
					%h2 Busca un medico cerca de ti
					.top-space
						%p Buscador
		.row.full-height.light-blue.white-text
			.col-xs-12
				.box
					%h2.logo-font DoctorsCo para pacientes
					%ol
						%li Busca a tu médico
						%li Reserva tu cita indicando fecha y hora en la que quieres ser atendido
						%li Ve a la consulta y recibe en la aplicacion el diagnostico y tratamiento que te dejo tu medico
						%li Recibe notificaciones que te recuerden la hora de tomar tus medicamentos, examenes que te debes realizar, proximas citas, etc.
		%script{src:"https://code.jquery.com/jquery-3.3.1.min.js",integrity:"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin:"anonymous"}
		%script
			window.jQuery || document.write("<script src='/js/vendor/jquery-3.3.1.min.js'></script>")
					
